<table>
    <tr>
      <td rowspan="5">asdf</td>
      <td> asfd sd asfdasfad</td>
    </tr>
    <tr>
      <td rowspan="5">asdf</td>
      <td> asfd sd asfdasfad</td>
    </tr>

</table>
<svg class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
</svg>

<svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>

<div>asdfasdf</div>
<div>asdfasdf</div>
<div>asdfasdf</div>
<button class="btn-info">asfsadf</button>
<button class="btn-secondary">asfsadf</button>

<button class="btn-primary">asfsadf</button>
<button class="btn-danger">asfsadf</button>
<button class="btn-info">asfsadf</button>

<alert type="success">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>

<alert type="danger">
  asdfsadf
</alert>


<alert type="info">
  asdfsadf
</alert>

<alert >
  asdfsadf
</alert>